body {
  padding: 20px;
  font: 14px "Roboto Condensed", Helvetica, Arial, sans-serif;
}
a {
  color: #059;
}
a:visited {
  color: #016;
}
code {
  display: inline-block;
  border: 1px #ccc solid;
  border-radius: 2px;
  background-color: #eee;
}
